discuss whether/where  to put this text

> , i.e., the path name of a
>            corresponding interface data node on the containing
>            node is reminiscent of data type interface-ref defined
>            in RFC 8343.  It should be noted that data type
>            interface-ref of RFC 8343 cannot be used directly,
>            as this data type is used to reference an interface
>            in a datastore of a single node in the network, not
>            to uniquely reference interfaces across a network

(used to be in the yang, but the reasoning is better discuss (if needed) in the narrative text.

That text is to explain why “interface-name” should be used, not “interface-reference” of RFC 8343 device model. The text is borrowed from "interface-name" of L2 topology (RFC 8944) and L3 topology (RFC8346). 
https://datatracker.ietf.org/doc/html/rfc8944#name-layer-2-topology-yang-module
https://datatracker.ietf.org/doc/html/rfc8346#autoid-6

There is also a relevant CCAMP draft: https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-if-ref-topo-yang-01 defines tp-to-interface-ref.
I was wondering if our document could cover this defined in draft-ietf-ccamp-if-ref-topo-yang.



There is some overlap with issue #16 

As reported in https://github.com/ietf-ivy-wg/network-inventory-topology/issues/16#issuecomment-2721081720, my preference is to have a common model to address this issue

The current draft is under CCAMP WG because it was generated as a spin-off of the Microwave topology model but we are actually looking for a WG interested on it

NMOP WG might be a target for such a common model