Purpose of the leaf-list interface-name

What is the purpose of the leaf-list interface-name?

If the intention is to navigate from topology to interface model, what about using the ietf-tp-interface-reference-topology model in draft-ietf-ccamp-if-ref-topo-yang?

This I-D is a CCAMP WG draft because we have spun it off from the MW topology model after thinking that the requirement to navigate from topology to interface is technology-agnostic.

It has presented to Netmod WG in IETF 118 and still looking for an home WG where to be progressed: [minutes-118-netmod](https://datatracker.ietf.org/doc/minutes-118-netmod-202311071200/)

See issue #2 

> [@italobusi](https://github.com/italobusi) [@boucadair](https://github.com/boucadair) For points 6)，I do not think “ietf-tp-interface-reference-topology” model is the right approach. because interface-ref is device local. Therefore, here in the inventory topology model, we follow the definition as Layer 2 Network Topologies rfc8944 and Layer 3 Network Topologies rfc 8346. And it's necessary to map between the termination point, the physical port, and the specific interface, right?

See: https://github.com/ietf-ivy-wg/network-inventory-topology/issues/2#issuecomment-2644718138

I am still confused

While, I am not aware of any implementation of RFC 8343 at the northbound of a network controller, I have heard different opinions about whether RFC 8343 can or not be implemented at the northbound of a network controller.

If RFC 8343 is not implemented at the northbound of a network controller, what can the client of the network controller do with an interface name which is not referencing any other information provided by the controller?

The current description is also quite ambiguous since the network controller can report the interface-name but can also report a void string (e.g., "Hallo World") and the client of the network controller has no way to understand what it is actually reported in this string.

Moreover, in RFC 8944 and RFC 8346, there is only one interface-name while in the current YANG model it is a leaf-list.


Thinking further, why not raising a comment to “ietf-tp-interface-reference-topology” model and resolve the issue there?

I think the authors of the draft would welcome comments as well as new contributors

IMHO, having one common model to associate the TP with an interface would be better than repeating the same definitions in every possible model

To address scenarios where RFC8343 is or not implemented, there are multiple options:
1. define only a string attribute, clarifying that it can be set to the same value of the interface name when RFC8343 is implemented
2. have a choice between an interface-ref and a string
3. have a union between an interface-ref and a string

Option 2 seems preferable to me and it is also possible to put the interface-ref case under a feature so it does not have to be implemented if RFC8343 is not implemented

@italobusi I think there is an issue with "interface-ref". For example, in a network management domain, interfaces with the same name like "GigabitEthernet0/0/1" on Device A and Device B could cause conflicts. Sure we can also ask YANG experts to confirm this.  While "interface-name" combined with device identifiers (e.g., device hostname) can achieve globally unique interface identification across the management domain.

> [@italobusi](https://github.com/italobusi) I think there is an issue with "interface-ref". For example, in a network management domain, interfaces with the same name like "GigabitEthernet0/0/1" on Device A and Device B could cause conflicts. Sure we can also ask YANG experts to confirm this. While "interface-name" combined with device identifiers (e.g., device hostname) can achieve globally unique interface identification across the management domain.

I think we can consider three scenarios

**Scenario A: RFC8343 and the topology models are both implemented on a device**

In this case, the issue you mention does not apply and the TP within the topology model can use the "interface-ref" to reference a specific instance in the interface list defined in RFC8343

**Scenario B: RFC8343 and the topology models are both implemented on a network controller**

In this case, the issue you mention applies to the RFC8343 implementation since there cannot be two interfaces with the same name within the interface list defined in RFC8343.

The implementation of RFC8343 can disambiguate the two interfaces applying your suggestion (combining a device identifier with a port identifier) and the "interface-ref" would properly work.

**Scenario C: The topology model is implemented and RFC8343 is not implemented**

In this case the "interface-ref" is not working because RFC8343 interface list is not implemented.

My doubt in this scenario is what information is a string not pointing to anything in the datastore.

Which scenario were you considering?

The authors of the “ietf-tp-interface-reference-topology” model were considering only scenario A and B and we had not discussed scenario C.