Italo's comments on the YANG model improvements during WG adoption

  1.  I have seen you have added appendix A but it is not very clear what is the purpose of this Appendix (at the first glance it appears a copy of the YANG model which we developed in the CCAMP WG I-D): do we really need this appendix?
  2.  What is the purpose of the node-name?

If it is intended to report the system-hostname, let's consider whether this attribute belongs to this model or to the network-element in the inventory model. If it belongs to this model, I would suggest to align the attribute name and description with the definition of system-hostname

If it is intended to be a generic name attribute, we may remove it as proposed by Olga during the meeting today

  1.  What is the purpose of the system-mount-point empty container?

If the intention is to mount technology-specific attributes, I am wondering whether using a "multi-inheritance" approach, as described in section 4.1 of RFC8345, could be used to specify technology-specific attributes and navigation from topology to inventory within a single topology instance.

  1.  What is the purpose of the tp-name?

I think we can remove it as proposed by Olga during the meeting today

  1.  Why the tp-name is RO while the node-name is RW?
  2.  What is the purpose of the leaf-list interface-name?

If the intention is to navigate from topology to interface model, what about using the ietf-tp-interface-reference-topology model in draft-ietf-ccamp-if-ref-topo-yang?

This I-D is a CCAMP WG draft because we have spun it off from the MW topology model after thinking that the requirement to navigate from topology to interface is technology-agnostic.

It has presented to Netmod WG in IETF 118 and still looking for an home WG where to be progressed: minutes-118-netmod-202311071200-00.md ([ietf.org)<https://datatracker.ietf.org/meeting/118/materials/minutes-118-netmod-202311071200-00>](http://ietf.org)%3Chttps//datatracker.ietf.org/meeting/118/materials/minutes-118-netmod-202311071200-00%3E)

  1.  I would suggest to provide some text to address the question from Aihua during the meeting today.

Italo

[](https://mailarchive.ietf.org/arch/msg/inventory-yang/wrqY1H7wGf-E2i2Uj10pBQMQ_gA/)


Candidate proposal:

**1)      I have seen you have added appendix A but it is not very clear what is the purpose of this Appendix (at the first glance it appears a copy of the YANG model which we developed in the CCAMP WG I-D): do we really need this appendix?**

[Bo Wu] Thank for catching this. The comparison conclusion should be added that the modeling approach in CCAMP WG I-D seems redundant and causes these duplicate nodes at each layer. Defining a new "network-types" can avoid this and can be flexibly combined with other  layer topologies.

**2)      What is the purpose of the node-name?**

If it is intended to report the system-hostname, let's consider whether this attribute belongs to this model or to the network-element in the inventory model. If it belongs to this model, I would suggest to align the attribute name and description with the definition of system-hostname

If it is intended to be a generic name attribute, we may remove it as proposed by Olga during the meeting today

[Bo Wu] Agree with your suggestion as Olga pointed out to remove this and consider moving  "system-hostname" to base inventory model.

**3)      What is the purpose of the system-mount-point empty container?**

If the intention is to mount technology-specific attributes, I am wondering whether using a "multi-inheritance" approach, as described in section 4.1 of RFC8345, could be used to specify technology-specific attributes and navigation from topology to inventory within a single topology instance.

[Bo Wu] This node is defined for the augment target for obtaining some general configuration information, for example, ACL policies in the enterprise campus networks.

**4)      What is the purpose of the tp-name?**

I think we can remove it as proposed by Olga during the meeting today

[Bo Wu] OK.

**5)      Why the tp-name is RO while the node-name is RW?**
[Bo Wu] Good catch. Will correct this.

**6)      What is the purpose of the leaf-list interface-name?**

If the intention is to navigate from topology to interface model, what about using the ietf-tp-interface-reference-topology model in draft-ietf-ccamp-if-ref-topo-yang?

This I-D is a CCAMP WG draft because we have spun it off from the MW topology model after thinking that the requirement to navigate from topology to interface is technology-agnostic.

It has presented to Netmod WG in IETF 118 and still looking for an home WG where to be progressed: minutes-118-netmod-202311071200-00.md ([ietf.org)<https://datatracker.ietf.org/meeting/118/materials/minutes-118-netmod-202311071200-00>](http://ietf.org)%3Chttps//datatracker.ietf.org/meeting/118/materials/minutes-118-netmod-202311071200-00%3E)

[Bo Wu] Thanks for information. Will take this into account.

**7)      I would suggest to provide some text to address the question from Aihua during the meeting today.**
[Bo Wu] Agree to add text to clarify mapping relationship between nodes and NEs, also with other links and tps.



@lana-wu, what is the status of this one? I guess most are addressed.  

> [@lana-wu](https://github.com/lana-wu), what is the status of this one? I guess most are addressed.

I think points 6) and 7) are still open. All the other points have been addressed.

For points 6)，I do not think “ietf-tp-interface-reference-topology” model is the right approach. [](https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-if-ref-topo-yang-01#section-3.2) because interface-ref is device local. Therefore, here in the inventory topology model, we follow the definition as Layer 2 Network Topologies rfc8944  and Layer 3 Network Topologies rfc 8346. And it's necessary to map between the termination point, the physical port, and the specific interface, right?

point 7)
Current YANG model design has a one-to-one relationship between the abstract node and the physical NE, as well as between the termination point and the link. I think the model looks quite straightforward. We can clarify this if you think it's necessary

> [@italobusi](https://github.com/italobusi) [@boucadair](https://github.com/boucadair) For points 6)，I do not think “ietf-tp-interface-reference-topology” model is the right approach. because interface-ref is device local. Therefore, here in the inventory topology model, we follow the definition as Layer 2 Network Topologies rfc8944 and Layer 3 Network Topologies rfc 8346. And it's necessary to map between the termination point, the physical port, and the specific interface, right?
> 
> point 7) Current YANG model design has a one-to-one relationship between the abstract node and the physical NE, as well as between the termination point and the link. I think the model looks quite straightforward. We can clarify this if you think it's necessary

It seems that these two comments require mode discussion so I have created two new issues (i.e., #16 and #17) to track them

You can either close this issue (leaving issues #16 and #17) or keep this issue open and defined issues #16 and #17 as sub-issues of this issue

No strong opinion on my side

Close the issue and track the remaining issues #16 and #17